<form method="post" action="{{ path('expense_delete', {'id': expense.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette dépense ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ expense.id) }}">
    <button class="btn-sm">Supprimer</button>
</form>
