{% extends 'base.html.twig' %}

{% block title %}Nouvelle Dépense{% endblock %}

{% block body %}
    <h1>Nouvelle Dépense</h1>

    {{ include('backend/expense/_form.html.twig') }}

    <a href="{{ path('expense_index', { 'id': travel.id }) }}">Retour à la liste des dépenses</a>

{% endblock %}
