<form method="post" action="{{ path('itinerary_delete', {'id': itinerary.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet itinéraire ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ itinerary.id) }}">
    <button class="btn">Supprimer</button>
</form>
