<form method="post" action="{{ path('itinerary_delete', {'id': itinerary.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ itinerary.id) }}">
    <button class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
</form>
