{% extends 'base.html.twig' %}

{% block title %}Edit Itinerary{% endblock %}

{% block body %}
    <h1>Edit Itinerary</h1>

    {{ include('backend/itinerary/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('itinerary_index' , {'id': travel.id} ) }}">back to list</a>

    {{ include('backend/itinerary/_delete_form.html.twig') }}
{% endblock %}
