{% extends 'base.html.twig' %}

{% block title %}New Itinerary{% endblock %}

{% block body %}
    <h1>Create new Itinerary</h1>

    {{ include('backend/itinerary/_form.html.twig') }}

    <a href="{{ path('itinerary_index' , {'id': travel.id}) }}">back to list</a>
{% endblock %}
