{% extends 'base.html.twig' %}

{% block title %}Création d'Itinéraire{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('map') }}
{% endblock %}

{% block body %}
    <h1>Création d'Itinéraire</h1>
    
    {{ include('backend/itinerary/_form.html.twig') }}
    
    <a href="{{ path('itinerary_index' , {'id': travel.id}) }}">back to list</a>
    
    <div id="map"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('map') }}
{% endblock %}