.card{
    width: 600px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.past{
    background-color: pink !important;
}

.between{
    background-color: white !important;
}

.after{
    background-color: green !important;
}

#bloc_global {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
    margin-top: 320px;
    justify-content: space-evenly;
}

.bloc_itinerary {
    height: 250px;
    width: 250px;
}