{% extends 'base.html.twig' %}

{% block title %}Modifir le Voyage{% endblock %}

{% block body %}
<div class="container p-3">
    <h1>Modifier le Voyage</h1>

    {{ include('backend/travel/_form.html.twig', {'button_label': 'Éditer'}) }}
</div>
{% endblock %}
