{% extends 'base.html.twig' %}

{% block title %}Edit Travel{% endblock %}

{% block body %}
    <h1>Edit Travel</h1>

    {{ include('backend/travel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('travels_index') }}">back to list</a>

    {{ include('backend/travel/_delete_form.html.twig') }}
{% endblock %}
