{% extends 'base.html.twig' %}

{% block title %}New Travel{% endblock %}

{% block body %}
    <h1>Create new Travel</h1>

    {{ include('backend/travel/_form.html.twig') }}

    <a href="{{ path('travels_index') }}">back to list</a>
{% endblock %}
