{% extends 'base.html.twig' %}

{% block title %}Nouveau Voyage{% endblock %}

{% block body %}
    <h1>Créer un voyage</h1>

    {{ include('backend/travel/_form.html.twig') }}

{% endblock %}

{% block javascripts %} 
    {{ encore_entry_script_tags('trip') }} 
{% endblock %}