{% extends 'base.html.twig' %}

{% block title %}Enregistrer le Fichier{% endblock %}

{% block body %}
<div class="container p-3">
    <h1>Enregistrer le Fichier</h1>

    {{ include('backend/document/_form.html.twig') }}
</div>

{% endblock %}
