<form method="post" action="{{ path('traveler_renvoye', {'id': traveler.id,'idvoyage':travel.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ traveler.id) }}">
    <button class="btn">Renvoyer</button>
</form>