{% extends 'base.html.twig' %}

{% block title %}New Traveler{% endblock %}

{% block body %}
    <h1>Create new Traveler</h1>

    {{ include('backend/traveler/_form.html.twig') }}

    <a href="{{ path('traveler_index') }}">back to list</a>
{% endblock %}
