{% extends 'base.html.twig' %}

{% block title %}Editer le Répertoire{% endblock %}

{% block body %}
<div class="container p-3">
    <h1>Editer le Répertoire</h1>

    {{ include('backend/folder/_form.html.twig', {'button_label': 'Éditer'}) }}

    <a href="{{ path('folder_index' , {'id': travel.id} ) }}">Retour à la liste des répertoires</a>
</div>
{% endblock %}
