{% extends 'base.html.twig' %}

{% block title %}Liste des Dossiers{% endblock %}

{% block body %}
<div class="container p-3">
    <h1>Liste des Dossiers</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom du dossier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for folder in folders %}
            <tr>
                <td>{{ folder.name }}</td>
                <td>
                    <a href="{{ path('document_index', {'id': folder.id}) }}">Afficher</a>
                    <a href="{{ path('folder_edit', {'id': folder.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de documents enregistrés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('folder_new', {'id': travel.id}) }}" class="btn btn-primary">Enregistrer un document</a>
</div>
{% endblock %}
