{% extends 'base.html.twig' %}

{% block title %}Créer un répertoire{% endblock %}

{% block body %}
<div class="container p-3">
    <h1>Créer un répertoire</h1>

    {{ include('backend/folder/_form.html.twig') }}

    <a href="{{ path('folder_index' , {'id': travel.id}) }}">Retour à la liste</a>
</div>
{% endblock %}
